@import url("https://fonts.googleapis.com/css?family=Oswald:600,700|Barlow:300,400,600");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --clr-body-txt: #858585;
  --clr-bg-blue: #0a1c4f;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1400px;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: var(--clr-bg-blue);
  font-weight: 400;
}

img {
  max-width: 100%;
}

/* ABOUT US SECTION */
.aboutus {
  padding: 10rem 5rem;
}

.aboutus p {
  color: #7b7b7b;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.about-img {
  grid-column: 1 / 2;
  background: url("/images/about-img1.jpg") no-repeat center center/cover;
  width: 90%;
  position: relative;
  /* max-width: 80rem; */
  border-radius: 0.6rem;
  margin-right: 10rem;
  padding-right: 20rem;
}

.about-img::after {
  content: "";
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 100%;
  width: 100%;
  border: 1rem solid #f5f4f4;
  z-index: -1;
}

.about-content {
  grid-column: 2 / 3;
}

.title {
  color: #d64528;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.m-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 600;
  margin: 2rem 0;
}

.about-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-card ~ .about-card {
}

.about-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 3rem;
}

.about-card img {
  grid-column: 1/2;
  width: 65%;
}

.about-card .card-info {
  grid-column: 2 / -1;
}

.card-title {
  margin-bottom: 1rem;
}

@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    margin: auto;
  }

  .about-img {
    grid-column: 1 / -1;
    background-image: url("/images/about-img1.jpg") no-repeat center
      center/cover;
    width: 100%;
    min-height: 50rem;
    position: relative;
    border-radius: 0.6rem;
    margin: auto;
  }

  .about-img::after {
    content: "";
    position: absolute;
    top: 3rem;
    left: 3rem;
    height: 100%;
    width: 100%;
    border: 1rem solid #f5f4f4;
    z-index: -1;
  }

  .about-content {
    grid-column: 1 / -1;
  }
}

/* CTA SECTION */
.cta {
}
