@import url("https://fonts.googleapis.com/css?family=Oswald:600,700|Barlow:300,400,600");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-body-txt: #858585;
  --clr-bg-blue: #0a1c4f;
  --clr-light-blue: #003da7;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-icons: #d64528;
  --menu-speed: 0.75s;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1400px;
  line-height: 1.5;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background: #333;
  color: var(--clr-body-txt);
  font-weight: 400;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  transition: all 0.35s ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  line-height: 2rem;
  border-radius: 4rem;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  font-weight: 700;
}

/* Navigation Section */
.nav {
  background-color: var(--clr-bg-blue);
  color: var(--clr-white);
  min-height: 10vh;
  border-bottom: 0.1rem solid var(--clr-white);
  position: fixed;
  width: 100%;
  z-index: 5;
}

.container-nav {
  /* margin: auto; */
  padding: 2rem 0rem;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
}

.brand .brand-img {
  max-width: 15rem;
}

.menu-links {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.menu-link {
  color: var(--clr-white);
  text-transform: capitalize;
  padding: 0 2rem;
  font-weight: 600;
}

.menu-links a i {
  margin-right: 3px;
  color: var(--clr-icons);
}

.btn-link {
  background-color: var(--clr-white);
  color: var(--clr-black);
  padding: 1rem 2.2rem;
  font-size: 1.4rem;
  position: relative;
}

.btn-link:hover {
  background-color: var(--clr-bg-blue);
  color: var(--clr-white);
  /* border-radius: 2rem solid var(--clr-white); */
  border-color: var(--clr-white);
}

.btn-link:hover i {
  color: var(--clr-white);
}

input[type="checkbox"] {
  display: none;
}

@media screen and (max-width: 768px) {
  .brand {
    display: grid;
    grid-template-columns:
      minmax(0.5rem, 1fr)
      repeat(4, 1fr)
      minmax(0.5rem, 1fr);
    gap: 0.5rem;
  }
  .brand a {
    grid-column: 2/4;
  }
  .toggler {
    display: none;
  }
  .toggler-label {
    position: absolute;
    top: 4rem;
    right: 0;
    margin-right: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toggler-label span:hover,
  .toggler-label span:focus {
    border-radius: 1px solid #fff;
  }

  .toggler-label span,
  .toggler-label span::before,
  .toggler-label span::after {
    display: block;
    background: var(--clr-black);
    height: 0.3rem;
    width: 2.2rem;
    border-radius: 0.3rem;
    position: relative;
    cursor: pointer;
  }

  .toggler-label span::before,
  .toggler-label span::after {
    content: "";
    position: absolute;
  }
  .toggler-label span::before {
    bottom: 0.6rem;
  }

  .toggler-label span::after {
    top: 0.6rem;
  }

  .menu-wrap {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--clr-bg-blue);
    width: 100vw;
    height: 100vh;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in;
  }

  .menu-links li {
    margin-bottom: 3rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  .menu-link {
    font-size: 1.8rem;
  }
  .toggler:checked ~ .toggler-label > span {
    transform: rotate(45deg);
  }
  .toggler:checked ~ .toggler-label > span::before,
  .toggler:checked ~ .toggler-label > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .toggler:checked ~ div {
    transform: scale(1, 1);
  }

  .toggler:checked ~ div li {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
}
